.inputStyle {
    height: 2rem;
    width: 100%;
    outline: none;
    background-color: rgb(255, 255, 255);
    padding-left: 8px;
    transition: all 0.3s ease;
    border: solid 1px gray;
    border-radius: 8px;
    box-shadow: 1px 1px 1px grey;
  
    &:hover {
      background-color: rgb(204, 204, 204);
    }
  }