@import '../../assets/helper/Helper.module.scss';

.cardStyle {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 1rem;
    text-decoration: none;
    color: $black;
    background-color: rgba(255, 255, 255, 0.568);
    border: solid 1px $grey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 99;

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }

    .primInfo {
        display: flex;
        flex-direction: column;
    }

    .secInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

