@import '../../assets/helper/Helper.module.scss';

.headerStyle {
    background-color: $black;
    height: 90px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;

    .logo {
        background-color: $brown;
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: center;

        h2 {
            color: $white;
        }
    }
}