@import '../../assets/helper/Helper.module.scss';

.navStyle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    .navHeader {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;

        button {
            background: none;
            border: none;
            font-size: 1.5rem;
            color: $white;
            cursor: pointer;
        }
    }

    .navLinks {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 0 1rem;

            a {
                color: $white;
                text-decoration: none;
                font-family: Odibee;
                font-size: 22px;
                &:hover {
                    color: $brown;
                }
            }
        }
        .searchBar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            input{
                height: 30px;
                width: 200px;
                border: none;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            svg{
                background-color: $grey;
                color: white;
                height: 30px;
                width: 30px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    
    }

    // Hide menu by default on small screens
    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; // Adjust based on nav height
        right: 0;
        background: $black;
        width: 100vw;
        z-index: 99;
        justify-content: center;

        li {
            padding: 1rem 0;
            text-align: center;
        }
    }

    // Show menu when active
    .showMenu {
        display: flex;
    }
}

// Media queries for responsiveness
@media (min-width: 1000px) {
    .navStyle {
        flex-direction: row;
        justify-content: flex-end;

        .navHeader {
            display: none;
        }

        .navLinks {
            display: flex;
            flex-direction: row;
            position: static;
            background: none;
            width: auto;

            li {
                padding: 0 1rem;
            }
        }
    }
}