.grid {
    display: grid;
    gap: 8px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}


@media (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr 1fr !important;  
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr !important; 
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}